{% extends 'base.html' %} {% block head %}
<script src="{{ url_for('static', filename='main.js')  }}"></script>

{% endblock %} {% block content %}

<div class="container-flud">
  <div class="row no-gutters">

    <div class="col-sm-4 lead-homebt"><a href="{{url_for('index')}}" class="newgame">New Game</a></div>
    <div class="col-sm-4">
      <h2 class="lead-head">Leadership Board <i class="fas fa-trophy"></i></h2>

    </div>
    <div class="col-sm-4"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="row no-gutters lead-backg">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <table class="table table-sm" style="background-color:#F1C40F;">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(0, username|length)|reverse %} {% if i == username|length -1 %}
          <tr class="table-primary">
            <th scope="row" class="winner"><i class="fas fa-medal"></i> {{username[i]}}</th>
            <td class="winner">{{score[i]}}</td>
            {% else %}
            <tr class="table-secondary">
              <th scope="row">{{username[i]}}</th>
              <td>{{score[i]}}</td>
              {% endif %} {% endfor %}
            </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>



{% endblock %}